/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .number-sm {
    display: none;
  }
  #Page-breadcrumbs .breadcrumbs-title {
    font-size: 16px;
  }
  #Page-breadcrumbs .page-link {
    font-size: 15px;
  }
  #Page-breadcrumbs .breadcrumbs-main-title {
    font-size: 20px;
    line-height: 26px;
  }
  #Page-breadcrumbs .breadcrumbs-main-details {
    font-size: 16px;
    line-height: 24px;
  }
  .section-header h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .section-header p {
    line-height: 24px;
    font-size: 15px;
  }
  .section-header h4 {
    font-size: 17px;
  }
  .contactFrom .contact-subtitle {
    font-size: 16px;
    line-height: 26px;
  }
  .course-heading h4 {
    font-size: 22px;
    line-height: 29px;
  }
  #aboutVideos h1 {
    font-size: 18px;
    line-height: 26px;
  }
  #aboutVideos h2 {
    font-size: 22px;
    line-height: 30px;
  }
  #aboutVideos p {
    font-size: 16px;
    line-height: 26px;
  }
  #aboutCompany h2 {
    font-size: 25px;
    line-height: 27px;
  }
  #awards .awards-text {
    line-height: 26px;
    font-size: 16px;
  }
  #awards .awards-title {
    font-size: 17px;
  }
  #whypeoplentech .facilities-item .whypeoplentech-contnet h4 {
    font-size: 22px;
  }
  #seminarList .single-list .single-Seminar-list-inner .details h4 {
    font-size: 16px;
    line-height: 24px;
  }
  #seminarList .single-list .single-Seminar-list-inner .date {
    font-size: 18px;
    width: 63px;
    height: 58px;
  }
  #seminarList .seminar-join a {
    font-size: 13px;
    padding: 3px 6px 3px 6px;
  }
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 20px 30px 20px;
  }
  #Seminar .single-list .single-Seminar-list-inner .details h4 {
    font-size: 15px;
    line-height: 23px;
  }
  #Seminar .single-list .single-Seminar-list-inner .date span {
    font-size: 14px;
  }
  #Seminar .single-list .single-Seminar-list-inner .date {
    font-size: 18px;
    width: 60px;
    height: 58px;
  }
  #Seminar .single-list .single-Seminar-list-inner .Seminar-meta .Time h6 {
    font-size: 15px;
  }
  #Seminar .seminar-join a {
    font-size: 14px;
    padding: 4px 8px 4px 8px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 30px 30px 30px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 30px 30px 30px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
