/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .number-sm {
    display: none;
  }
  #Page-breadcrumbs .breadcrumbs-title {
    font-size: 16px;
  }
  #Page-breadcrumbs .page-link {
    font-size: 15px;
  }
  #Page-breadcrumbs .breadcrumbs-main-title {
    font-size: 20px;
    line-height: 26px;
  }
  #Page-breadcrumbs .breadcrumbs-main-details {
    font-size: 16px;
    line-height: 24px;
  }
  .section-header h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .section-header p {
    line-height: 24px;
    font-size: 15px;
  }
  .section-header h4 {
    font-size: 17px;
  }
  .contactFrom .contact-subtitle {
    font-size: 16px;
    line-height: 26px;
  }
  .course-heading h4 {
    font-size: 22px;
    line-height: 29px;
  }

  #aboutVideos h1 {
    font-size: 18px;
    line-height: 26px;
  }
  #aboutVideos h2 {
    font-size: 22px;
    line-height: 30px;
  }
  #aboutVideos p {
    font-size: 16px;
    line-height: 26px;
  }
  #aboutCompany h2 {
    font-size: 25px;
    line-height: 27px;
  }
  #awards .awards-text {
    line-height: 26px;
    font-size: 16px;
  }
  #awards .awards-title {
    font-size: 17px;
  }
  #whypeoplentech .facilities-item .whypeoplentech-contnet h4 {
    font-size: 22px;
  }
  #seminarList .single-list .single-Seminar-list-inner .details h4 {
    font-size: 16px;
    line-height: 24px;
  }
  #seminarList .single-list .single-Seminar-list-inner .date {
    font-size: 18px;
    width: 63px;
    height: 58px;
  }
  #seminarList .seminar-join a {
    font-size: 13px;
    padding: 3px 6px 3px 6px;
  }
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 20px 30px 20px;
  }
  #Seminar .single-list .single-Seminar-list-inner .details h4 {
    font-size: 15px;
    line-height: 23px;
  }
  #Seminar .single-list .single-Seminar-list-inner .date span {
    font-size: 14px;
  }
  #Seminar .single-list .single-Seminar-list-inner .date {
    font-size: 18px;
    width: 60px;
    height: 58px;
  }
  #Seminar .single-list .single-Seminar-list-inner .Seminar-meta .Time h6 {
    font-size: 15px;
  }
  #Seminar .seminar-join a {
    font-size: 14px;
    padding: 4px 8px 4px 8px;
  }
  #about-us .about-content h4 {
    font-size: 16px;
  }
  #about-us .about-content h3 {
    font-size: 20px;
    line-height: 26px;
  }
  #about-us .about-content p {
    font-size: 16px;
  }
  #freeTutorial .freeTutorial-title {
    font-size: 24px;
    line-height: 33px;
  }

  #course-category .swiper-button-next {
    right: 0px;
  }
  #course-category .swiper-button-prev {
    left: 0;
  }
  .hero-img {
    display: none;
  }
  #hero {
    margin-bottom: 0;
  }
  #hero .course-view .course-view-items h5 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0px;
  }
  #hero .course-view .course-view-items h6 {
    font-size: 14px;
  }
  #hero {
    padding: 30px 0px;
  }
  .Allcourse .nav-link {
    font-size: 14px;
    padding: 8px 10px;
  }
  #Allcourse .allcourse-prev {
    left: 0;
  }
  #Allcourse .allcourse-next {
    right: 0;
  }
  .Allcourse .course-card .course-title {
    font-size: 18px;
    line-height: 26px;
  }
  .Allcourse .course-card .course-details-btn .details-btn {
    font-size: 16px;
  }
  .Allcourse .course-card .count-student {
    font-size: 14px;
    line-height: 26px;
  }
  #upcomingBatches .upcomingBatches-prev {
    left: 0;
  }
  #upcomingBatches .upcomingBatches-next {
    right: 0;
  }
  .course-card .course-title {
    font-size: 18px;
    line-height: 26px;
  }
  .course-card .course-details-btn .details-btn {
    font-size: 16px;
  }
  .course-card .count-student {
    font-size: 14px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 30px 30px 30px;
  }
  #course-category .swiper-button-next {
    right: 0px;
  }
  #course-category .swiper-button-prev {
    left: 0;
  }
  .hero-img {
    display: none;
  }
  #hero {
    margin-bottom: 0;
  }
  #Allcourse .allcourse-prev {
    left: 0;
  }
  #Allcourse .allcourse-next {
    right: 0;
  }
  .Allcourse .course-card .course-title {
    font-size: 18px;
    line-height: 26px;
  }
  .Allcourse .course-card .course-details-btn .details-btn {
    font-size: 16px;
  }
  .Allcourse .course-card .count-student {
    font-size: 14px;
    line-height: 26px;
  }
  #upcomingBatches .upcomingBatches-prev {
    left: 0;
  }
  #upcomingBatches .upcomingBatches-next {
    right: 0;
  }
  .course-card .course-title {
    font-size: 18px;
    line-height: 26px;
  }
  .course-card .course-details-btn .details-btn {
    font-size: 16px;
  }
  .course-card .count-student {
    font-size: 14px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #Seminar .Seminar-thumb {
    margin-left: 0px;
  }
  #Seminar .single-list {
    padding: 30px 30px 30px 30px;
  }
  .hero-img {
    display: none;
  }
  #hero {
    margin-bottom: 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #hero {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.10minuteschool.com/images/bg2_1699781792031.png);
    background-color: rgb(253, 250, 248);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: -130px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  #hero {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.10minuteschool.com/images/bg2_1699781792031.png);
    background-color: rgb(253, 250, 248);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: -130px;
  }
  #hero .discount {
    top: 57px;
    left: 20px;
  }
  #hero .discount .discount-student h4 {
    font-size: 15px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
