/* ?? Teacher List -Pages  */
/*--------------------------------------------------------------
# List of Teacher
--------------------------------------------------------------*/
.twitter-color {
  color: #1da1f2;
}

.facebook-color {
  color: #4267b2;
}
.instagram-color {
  color: transparent;
  background: radial-gradient(
    circle at 20% 130%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  background-size: 120% 120%;
}

.linkedin-color {
  color: #0077b5;
}
#teacherList .job-title {
  font-weight: 600;
  color: #f8285a;
  font-size: 17px;
  letter-spacing: 0.20000000298023224px;
}
#teacherList .teacher-name a {
  font-size: 19px;
  font-weight: 700;
  color: var(--text-primary-color);
  letter-spacing: 0.20000000298023224px;
  line-height: 26px;
}
#teacherList .teacher-name a:hover {
  color: var(--primary-color);
}
#teacherList .teacher-profession {
  font-weight: 400;
}
#teacherList .teacher-Content {
  color: var(--text-secondary-color);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
#teacherList .card {
  border: none;
}
/* ?? Teacher List -Pages  */
/*--------------------------------------------------------------
# Teacher Profile
--------------------------------------------------------------*/
#teacherProfile .bg-facebook {
  background-color: #5d82d1;
  color: var(--contrast-color);
  border: none;
}
#teacherProfile .bg-instagram-gradient {
  background: radial-gradient(
    circle at 20% 130%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border: none;
  color: #fff;
  background-size: 120% 120%;
  background-position: right bottom;
}
#teacherProfile .bg-twitter {
  background-color: #40bff5;
  color: #fff;
  border: none;
}
#teacherProfile .bg-linkedin {
  background-color: #238cc8;
  color: #fff;
  border: none;
}
#teacherProfile .rating {
  font-weight: 500;
  font-size: 15px;
}
#teacherProfile .star i {
  font-size: 18px;
}
#teacherProfile .card {
  border: none;
}
#teacherProfile .icon-md {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  font-size: 23px;
  background: #dfffea;
  color: #12b76a;
}
#teacherProfile .Education h6 {
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 600;
}
#teacherProfile .title-profile {
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.20000000298023224px;
}
#teacherProfile .Progress-title {
  font-size: 16px;
  color: var(--text-primary-color);
  font-weight: 600;
}
#teacherProfile .progress-sm {
  height: 7px;
}
#teacherProfile .progress {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}

#teacherProfile .progress-bar {
  position: relative;
  overflow: visible;
  border-radius: 0.325rem;
}
#teacherProfile .progress-percent-simple {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 14px;
  color: var(--text-primary-color);
}
